{layout 'layout.latte'}

{block content}
<div class="container mt-5">
	<h2 class="mb-5">Admin login</h2>
	<form hx-post="/kuku3/src/" hx-target="body" hx-trigger="submit" class="row g-3">
		<div class="col-auto">
		<input name="password" type="password" class="form-control" placeholder="Password" autofocus>
	</form>
	<p class="mt-3">
		Looking for finnish practice? <a href="/kuku3/src/practiceInfo">Click here</a>
	</p>
</div>
{/block}