RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
# Comment out RewriteBase when using AlwaysData hosting 
# RewriteBase /kuku3/www/kuku3/