{if !empty($flash_msg)}
<!-- <div class="toast-container position-fixed bottom-0 end-0 p-3">
	<div id="toast" class="align-items-center text-bg-default" role="alert">
		<div class="d-flex">
			<div class="toast-body"></div>
			<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div> -->
{/if}