{layout 'layout.latte'}

{block content}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<div class="text-center bg-dark text-white p-3">
		<h2>Practice</h2>
		{if !empty($title)}
			<a href="{Flight::get('basePath')}/practice" class="btn btn-primary btn-lg btn-block mt-3 text-white">
				{$title}
			</a>
		{else}
			<p class="lead">Could not fetch practice.</p>
		{/if}
	</div>
</div>

{/block}